* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.modal .modal-header .close .fas {
    padding-top: 12px;
}

.delete-webhook {
    float: right;
    margin: -7px -7px 0 0;
    z-index: 2;
    position: relative;
    border-radius: 50%;
    padding: 4px 8px !important;
}

.trigger-webhook i {
    margin-right: -10px;
}

#mac_hash_tooltip {
    margin-top: -40px;
    cursor: pointer;
}

#mac_hash_tooltip .arrow::before {
    border-top-color: #6C757D;
}
